Repository advancedAgritek-BB/Harvestry_App, changes with the owners that CODEOWNERS names for each.
All owners: @harvestry/devops-sre-security, @harvestry/engineering-leads, @harvestry/core-platform, @harvestry/security, @harvestry/telemetry-controls, @harvestry/firmware-ee, @harvestry/workflow-messaging, @harvestry/integrations, @harvestry/compliance, @harvestry/finance, @harvestry/data-ai, @harvestry/product, @harvestry/chief-architect, @harvestry/qa, @harvestry/vp-product

CODEOWNERS:

# CODEOWNERS - Squad ownership mapping for Harvestry ERP
# 
# This file defines code ownership by squad per the RACI matrix.
# All PRs to these paths require review from the designated squad.
# Minimum 2 approvals required for merge to main.
#
# Format: path/to/code @team-name
# More specific patterns take precedence over less specific ones.

# =============================================================================
# GLOBAL OWNERS (require approval for any changes)
# =============================================================================
* @harvestry/devops-sre-security @harvestry/engineering-leads

# =============================================================================
# CORE PLATFORM SQUAD
# Auth/RLS/Orgs/Sites/Inventory/Processing
# =============================================================================
/src/backend/services/core-platform/identity/ @harvestry/core-platform @harvestry/security
/src/backend/services/core-platform/organizations/ @harvestry/core-platform
/src/backend/services/core-platform/spatial/ @harvestry/core-platform
/src/backend/services/core-platform/inventory/ @harvestry/core-platform
/src/backend/services/core-platform/processing/ @harvestry/core-platform

# Frontend features
/src/frontend/features/identity/ @harvestry/core-platform
/src/frontend/features/spatial/ @harvestry/core-platform

# Security-critical components
/src/shared/security/ @harvestry/security @harvestry/core-platform
/src/database/RLS-policies/ @harvestry/security @harvestry/core-platform
/src/database/schemas/identity/ @harvestry/security @harvestry/core-platform

# =============================================================================
# TELEMETRY & CONTROLS SQUAD
# Sensors, Rollups, Irrigation/Fertigation, Interlocks
# =============================================================================
/src/backend/services/telemetry-controls/sensors/ @harvestry/telemetry-controls
/src/backend/services/telemetry-controls/irrigation-fertigation/ @harvestry/telemetry-controls
/src/backend/services/telemetry-controls/environment/ @harvestry/telemetry-controls
/src/backend/services/telemetry-controls/interlocks/ @harvestry/telemetry-controls @harvestry/firmware-ee
/src/backend/services/telemetry-controls/closed-loop/ @harvestry/telemetry-controls @harvestry/devops-sre-security

# Frontend features
/src/frontend/features/irrigation/ @harvestry/telemetry-controls
/src/frontend/features/telemetry/ @harvestry/telemetry-controls

# Edge controllers and firmware
/src/edge/ @harvestry/telemetry-controls @harvestry/firmware-ee

# Database schemas
/src/database/schemas/environment/ @harvestry/telemetry-controls
/src/database/schemas/irrigation/ @harvestry/telemetry-controls
/src/database/schemas/equipment/ @harvestry/telemetry-controls

# =============================================================================
# WORKFLOW & MESSAGING SQUAD
# Lifecycle, Tasks, Slack bridge
# =============================================================================
/src/backend/services/workflow-messaging/lifecycle/ @harvestry/workflow-messaging
/src/backend/services/workflow-messaging/tasks/ @harvestry/workflow-messaging
/src/backend/services/workflow-messaging/messaging/ @harvestry/workflow-messaging
/src/backend/services/workflow-messaging/slack-bridge/ @harvestry/workflow-messaging @harvestry/devops-sre-security

# Frontend features
/src/frontend/features/tasks/ @harvestry/workflow-messaging
/src/frontend/features/messaging/ @harvestry/workflow-messaging

# Database schemas
/src/database/schemas/cultivation/ @harvestry/workflow-messaging
/src/database/schemas/tasking/ @harvestry/workflow-messaging

# =============================================================================
# INTEGRATIONS SQUAD
# Compliance (METRC/BioTrack), QBO, Labeling
# =============================================================================
/src/backend/services/integrations/compliance-metrc/ @harvestry/integrations @harvestry/compliance
/src/backend/services/integrations/compliance-biotrack/ @harvestry/integrations @harvestry/compliance
/src/backend/services/integrations/quickbooks/ @harvestry/integrations @harvestry/finance
/src/backend/services/integrations/labeling/ @harvestry/integrations @harvestry/compliance

# Frontend features
/src/frontend/features/compliance/ @harvestry/integrations @harvestry/compliance
/src/frontend/features/quickbooks/ @harvestry/integrations @harvestry/finance

# Database schemas
/src/database/schemas/compliance/ @harvestry/integrations @harvestry/compliance
/src/database/schemas/accounting/ @harvestry/integrations @harvestry/finance

# =============================================================================
# DATA & AI SQUAD
# Timescale/ClickHouse, Analytics, AI, Sustainability
# =============================================================================
/src/backend/services/data-ai/ @harvestry/data-ai
/src/frontend/features/ai/ @harvestry/data-ai
/src/frontend/features/sustainability/ @harvestry/data-ai

# Database schemas
/src/database/schemas/ai/ @harvestry/data-ai
/src/database/migrations/timescale/ @harvestry/data-ai @harvestry/devops-sre-security
/src/database/migrations/clickhouse/ @harvestry/data-ai @harvestry/devops-sre-security
/src/database/views/ @harvestry/data-ai

# =============================================================================
# DEVOPS/SRE/SECURITY SQUAD
# Observability, CI/CD, DR, Security
# =============================================================================
/.github/ @harvestry/devops-sre-security
/src/infrastructure/ @harvestry/devops-sre-security
/src/shared/observability/ @harvestry/devops-sre-security
/scripts/ @harvestry/devops-sre-security
/tools/ @harvestry/devops-sre-security

# Database infrastructure
/src/database/migrations/ @harvestry/devops-sre-security @harvestry/data-ai
/src/database/scripts/ @harvestry/devops-sre-security

# Configuration and secrets
/config/ @harvestry/devops-sre-security @harvestry/security
*.env.example @harvestry/devops-sre-security

# =============================================================================
# GATEWAY (API Gateway)
# =============================================================================
/src/backend/services/gateway/ @harvestry/devops-sre-security @harvestry/engineering-leads

# =============================================================================
# SHARED LIBRARIES
# =============================================================================
/src/shared/kernel/ @harvestry/engineering-leads
/src/shared/messaging/ @harvestry/devops-sre-security @harvestry/engineering-leads
/src/shared/data-access/ @harvestry/data-ai @harvestry/engineering-leads
/src/shared/validation/ @harvestry/engineering-leads

# =============================================================================
# DOCUMENTATION
# =============================================================================
/docs/ @harvestry/engineering-leads @harvestry/product
/documents/ @harvestry/product @harvestry/engineering-leads
README.md @harvestry/engineering-leads
/*.md @harvestry/engineering-leads

# Architecture Decision Records
/documents/*ADR* @harvestry/engineering-leads @harvestry/chief-architect

# Runbooks
/documents/*Runbook* @harvestry/devops-sre-security
/docs/ops/runbooks/ @harvestry/devops-sre-security

# =============================================================================
# TESTING
# =============================================================================
/tests/ @harvestry/devops-sre-security @harvestry/qa
/tests/e2e/ @harvestry/qa
/tests/security/ @harvestry/security
/tests/performance/ @harvestry/devops-sre-security @harvestry/data-ai

# =============================================================================
# CRITICAL PATHS (require additional VP approval)
# =============================================================================
/src/backend/services/telemetry-controls/closed-loop/ @harvestry/telemetry-controls @harvestry/vp-product
/src/backend/services/data-ai/ai-models/ @harvestry/data-ai @harvestry/vp-product
/src/database/RLS-policies/ABAC/ @harvestry/security @harvestry/vp-product
/config/feature-flags/ @harvestry/devops-sre-security @harvestry/vp-product

feat(database): implement TimescaleDB hypertables and outbox pattern
  scripts/db/migrate.sh
  scripts/db/rollback.sh
  src/database/migrations/README.md
  src/database/migrations/baseline/20250929_CreateOutboxPattern.sql
  src/database/migrations/timescale/20250929_CreateAlertsHypertable.sql
  src/database/migrations/timescale/20250929_CreateIrrigationHypertables.sql
  src/database/migrations/timescale/20250929_CreateSensorReadingsHypertable.sql
  src/database/migrations/timescale/20250929_CreateSensorRollups.sql
  src/database/migrations/timescale/20250929_CreateTaskEventsHypertable.sql
Owners: @harvestry/devops-sre-security, @harvestry/engineering-leads, @harvestry/data-ai

feat(security): implement RLS/ABAC framework and feature flag governance
  .github/workflows/feature-flag-policy.yml
  src/database/RLS-policies/ABAC/high-risk-operations.sql
  src/database/RLS-policies/README.md
  src/database/RLS-policies/site-scoped/template.sql
Owners: @harvestry/devops-sre-security, @harvestry/security, @harvestry/vp-product, @harvestry/engineering-leads, @harvestry/core-platform

docs(governance): add comprehensive governance templates and runbooks
  docs/governance/DEFINITION_OF_DONE.md
  docs/governance/DEFINITION_OF_READY.md
  docs/governance/FEATURE_FLAG_PROMOTION_CHECKLIST.md
  docs/ops/runbooks/RUNBOOK_TEMPLATE.md
Owners: @harvestry/engineering-leads, @harvestry/product, @harvestry/devops-sre-security

feat: enhance observability and governance with Grafana dashboards and feature flags
  config/feature-flags/README.md
  config/feature-flags/unleash-flags.json
  docs/governance/DEFINITION_OF_DONE.md
  docs/governance/DEFINITION_OF_READY.md
  src/infrastructure/monitoring/grafana/dashboards/01-slo-overview.json
  src/infrastructure/monitoring/grafana/dashboards/02-burn-rate-alerts.json
  src/infrastructure/monitoring/grafana/dashboards/03-database-performance.json
  src/infrastructure/monitoring/grafana/provisioning/dashboards/dashboards.yml
  src/infrastructure/monitoring/grafana/provisioning/datasources/datasources.yml
Owners: @harvestry/devops-sre-security, @harvestry/vp-product, @harvestry/engineering-leads, @harvestry/product

feat(observability): add Grafana dashboards, Unleash flags, and k6 load tests
  scripts/db/migrate.sh
  scripts/load/run-load-tests.sh
  src/database/migrations/timescale/20250929_CreateSensorRollups.sql
  tests/load/api-gateway-load.js
  tests/load/realtime-push-load.js
  tests/load/telemetry-ingest-load.js
Owners: @harvestry/devops-sre-security, @harvestry/data-ai, @harvestry/qa

feat(deployment): add environment configs and blue/green deployment script
  .github/workflows/security-secrets-scan.yml
  config/dev/appsettings.json
  config/prod/appsettings.json
  config/staging/appsettings.json
  docs/TRACK_A_COMPLETION_CHECKLIST.md
  scripts/deploy/blue-green-deploy.sh
Owners: @harvestry/devops-sre-security, @harvestry/security, @harvestry/engineering-leads, @harvestry/product

feat(deployment): complete Track A deployment and governance tooling
  .github/workflows/pr-container-build.yml
  docs/setup/BRANCH_PROTECTION_SETUP.md
  scripts/deploy/post-deployment-health-check.sh
  scripts/deploy/slo-gate-check.sh
  src/database/migrations/baseline/20250929_CreateAuditHashChain.sql
Owners: @harvestry/devops-sre-security, @harvestry/engineering-leads, @harvestry/product, @harvestry/data-ai

docs: update Track A completion checklist - 85.7% complete
  docs/TRACK_A_COMPLETION_CHECKLIST.md
Owners: @harvestry/engineering-leads, @harvestry/product

feat(testing): complete Track A testing and infrastructure templates
  docs/setup/SENTRY_SETUP.md
  src/infrastructure/helm/harvestry-api/Chart.yaml
  src/infrastructure/helm/harvestry-api/templates/_helpers.tpl
  src/infrastructure/helm/harvestry-api/templates/deployment.yaml
  src/infrastructure/helm/harvestry-api/values.yaml
  tests/acceptance/run-acceptance-tests.sh
  tests/contract/README.md
  tests/contract/run-tests.sh
Owners: @harvestry/engineering-leads, @harvestry/product, @harvestry/devops-sre-security, @harvestry/qa

docs: update Track A completion to 93.2% - infrastructure complete
  docs/TRACK_A_COMPLETION_CHECKLIST.md
Owners: @harvestry/engineering-leads, @harvestry/product

docs: add comprehensive technical debt tracking system
  .github/ISSUE_TEMPLATE/technical-debt.md
  .github/workflows/pr-container-build.yml
  .github/workflows/security-secrets-scan.yml
  SECURITY_FIXES_2025_09_29.md
  TECHNICAL_DEBT.md
  config/feature-flags/README.md
  config/staging/appsettings.json
  docker-compose.yml
  docs/TRACK_A_COMPLETION_CHECKLIST.md
  docs/process/TECHNICAL_DEBT_WORKFLOW.md
  docs/setup/GRAFANA_CREDENTIAL_ROTATION_NOTICE.md
  src/infrastructure/monitoring/grafana/provisioning/datasources/datasources.yml
Owners: @harvestry/devops-sre-security, @harvestry/engineering-leads, @harvestry/vp-product, @harvestry/security, @harvestry/product

feat: implement CI/CD foundation with container builds, deployment scripts, and audit hash chain
  .github/workflows/pr-container-build.yml
  docs/setup/SENTRY_SETUP.md
  scripts/deploy/blue-green-deploy.sh
  scripts/deploy/post-deployment-health-check.sh
  scripts/load/run-load-tests.sh
  src/database/migrations/baseline/20250929_CreateAuditHashChain.sql
  src/infrastructure/helm/harvestry-api/templates/deployment.yaml
  tests/acceptance/run-acceptance-tests.sh
  tests/load/realtime-push-load.js
  tests/load/telemetry-ingest-load.js
Owners: @harvestry/devops-sre-security, @harvestry/engineering-leads, @harvestry/product, @harvestry/data-ai, @harvestry/qa
